@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;

    justify-content: space-around;
  margin: auto;
  height: 100vh;
  font-family: "Figtree";
    
& #box {
    background:hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
    min-width: 250px;

    border-radius: 20px;
    box-shadow: 8px 8px black; 
    margin: auto;
   height: 70vh;
  padding: 22px;
  border: solid black 1px;

 & #image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;


    & img {
      border-radius: 12px;
    width: 100%;
}
 }
 & #learning {
    background: hsl(47, 88%, 63%);
    width: 20%;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    margin-top: 8px;
   
    
   

 }

 & #date {
   text-align: left;
width: 100%;
font-weight: 500;
font-size: 16px;
padding-top: 8px;

 }

 & #html {
   width: 100%;
   font-weight: 800;
   font-size: 25px;
   margin-top: 16px;
   margin-bottom: 8px;
   & a {
      text-decoration: none;
      color: black;
   }
   
  & a:hover {          
      color: hsl(47, 88%, 63%);
    }


 }

 & #text {
   color: hsl(0, 0%, 42%);
   margin-bottom: 8px;
   line-height: 24px;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.4px;
   padding-bottom: 8px;
 }

 & #sign {
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;

    & #picture {
      width: fit-content;
& img {
border-radius: 50px;
width: 35px;
}
    }

    & #signature {
      padding-left: 12px;
      font-weight: 800;
      font-size: 15px;

    }
 }
}
}

@media only screen and (max-width: 400px) {
body {
    & #box {
   width: 77%;
height: 60%;
font-size: smaller;

& #image {
 
 display: block;
 
 overflow: hidden;
 border-radius: 10px;
  
  & img {
    display: block;
    width: 120%;
    margin-left: -30px;
    

}
}


& #date {
  font-size: 13px;
}
& #html {
  font-size: 21px;
}
& #text {
  font-size: 14px;
}
    }
  }
}


